{% extends "::base.html.twig" %}
    {% block title %}
        Ajouter un article
    {% endblock %}
    {% block body %}
        <h1>{{ Post.title }}</h1>
        <p>{{ Post.content }}</p>
    {% endblock %}
