{% extends "::base.html.twig" %}
    {% block title %}
        Editer l'article
    {% endblock %}
    {% block body %}
        <h1>Editer l'article</h1>
        <h3>{{ Post.title }}</h3>
        {{ form(form) }}
    {% endblock %}
